#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
canvas {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: viewport;
  height: 1000px;
}
main {
  position: absolute;
  
}